<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44332" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.300\DotnetTools\dotnet-watch\6.0.300-rtm.22221.4\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44321/API/,ws://localhost:53582/API/" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwRQPjilzQQPQWE3R24voMGkLwy1QPfcqpNGamgESLL01wDUjsqX5BQN+iOn1Fuj6PeD7GAojuIi426BrKC78NcmyOseEhUWlazTC09WZw21kDuaPUjkjwd6ksGaESDdML/7/j/bt02KvVLbrA617bG7KjXN7T9lxkhNCWhO3nnbT6ugkXc+Q1hhY6spUxtGZ2kce/SAiFX3e7E15Izqv2aepRlWbfgRnSPojkd2xKkJ68RQSYspAEqoLgkVSj0PHt5/GiSYiLqeAwXbgO9VqJOA2BKaPCViNYb0GMluxv52DUsvf5Fy1GGG+yQuUYOIgL/8tjS8S8HTmflYydXiwlQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>