@{
        ViewData["Title"] = "Home";
    }
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    A library which supports decoding and generating of barcodes (like QR Code, PDF 417, EAN, UPC, Aztec, Data Matrix, Codabar) within images.
    <qrcode alt="QR Code" content="https://rajeeshmenoth.wordpress.com/" />
    https://rajeeshmenoth.wordpress.com/

